.liveConfirmation button:first-child {
  background-color: #FF3366;
  color: white;
}

.liveConfirmation button:nth-child(2) {
  background-blend-mode: exclusion;
}

.zego_model_parent {
  background-color: #FF3366;
}

.liveConfirmation div {
  background-color: unset;
  color: black !important;
}

/* .liveConfirmation div p {
  background-color: #FF3366 !important;
} */

.liveConfirmation video {
  background-color: #f1e2e6;
}